/*
	Eric Meyer's Reset CSS v2.0
	
	NOTICE: This copy of the CSS reset has been modified
	to make main tag "display: block" because the default in
	even IE 11 is "display: inline", which is not correct.
*/

body {
	font: 14px/1.5em sans-serif;
}

header,
main,
footer {
	width: 50%;
	max-width: 900px;
	margin: 0 auto;
}

header {
	margin-bottom: 50px;
}

h1 {
	font-size: 48px;
	font-weight: bold;
	line-height: 1.5em;
	text-align: center;
}

h2 {
	font-size: 18px;
	line-height: 1.3em;
	text-align: center;
	margin-bottom: 25px;
	font-weight: 300;
}

p {
	max-width: 625px;
	margin: 10px auto;
}

code {
	font-family: 'Consolas', 'Menlo', 'Monaco', 'Courier New', monospace;
	padding: 1px 3px;
	background-color: #EEE;
	font-size: 12px;
}

#githubURL,
#gitIoCode,
#output {
	border: 1px solid #CCC;
	padding: 10px;
	outline: none;
	font: 16px/1.5em Consolas, Menlo, Monaco, 'Courier New', monospace;
	white-space: normal;
    tab-size: 4;
}

#output {
	background-color: #F0F8FF;
	word-wrap: break-word;
	font-size: 14px;
	overflow-x: auto;
}

footer {
	margin: 50px auto;
	text-align: center;
}

textarea {
    resize: vertical;
    word-wrap: break-word;
    margin-bottom: 10px;
    width: 100%;
}

button {
    border: 1px solid #0066cc;
    background-color: #0099cc;
    color: #ffffff;
    padding: 5px 10px;
    width: 20%;
}

button:hover {
    border: 1px solid #0099cc;
    background-color: #00aacc;
    color: #ffffff;
    padding: 5px 10px;
}

button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.centeredObject
{
    position:relative;
    margin:10px auto;
    display:inline-block;
}

.row
{
	margin: 10px;
    text-align:center;
    position:relative;
}
